---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me";

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "NeoVim",
  "Astro",
  "Java",
  "Embedded Systems",
  "IoT",
  "Linux",
  "SQL",
  "Rust",
  "Lua",
  "Scrum",
];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    TL;DR: I'm a computer engineer, having an interest in anything that involves
    computers while also interested in art.
  </p>

  <p>
    Ever since I was twelve, I had an interest with computers. How they manage
    to cram such a complex world into a tiny box. First it was Scratch (yes, the
    one with the orange cat!), then came Python, then along the way, I've
    experimented and played around with various tools to end up where I am
    today.
  </p>

  <p>Here are some facts about me:</p>
  <ul>
    <li>
      My pen name is Lemon/SourLemon. The name was based on a Steam username I
      made when I was 10, still what I go by now.
    </li>
    <li>
      I live in Turkey and I work as a computer engineer. The reason why that is
      a broad title is because I don't have an actual job yet (TODO: update this
      asap), yet I still enjoy being involved in literally anything that
      involves computers.
    </li>
    <li>
      I enjoy playing video games, specifically Factorio. Did I mention I'm an
      engineer? I am also interested in Modded Minecraft, and would you be
      surprised if I said my favorite modpack is GregTech: New Horizons?
    </li>
    <li>
      I also enjoy indie creative works, whether video games, music, visual
      arts, you will find me following either funny people or cool artists on
      Twitter. (They are usually drowned out by a lot of shitposts, though. I
      may open a second art just for art later but im lazyyy)
    </li>
    <li>
      Funnest fact of all is that I'm not even done writing this page yet. There
      is only so much you can put into one page, hence why I'm making a website
      rather than a single page.
    </li>
  </ul>
  <p>My skills are:</p>
  <style is:global define:vars={{ skillColor, fontWeight, textCase }}>
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  <p>
    PS: I'm still trying to learn web dev as of writing. I'll never stop
    learning and this time I got HTML on my plate. Which is the best programming
    language btw!!!
  </p>
</BaseLayout>
